#first-image {
    height: 450px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    align-items: center;
    max-width: 100%;
}

.first-sing-up {
    width: 115px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882f6;
    border: none;
    color: white;
}

.first-second-text {
    padding-left: 200px;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
}

.small-text {
    height: auto;
    width: 520px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#logo {
    width: auto;
    height: 120px;
    margin: 16px;
    padding: 24px;
    display: flex;
    align-items: center;
}



body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-element {
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
    width: 100%;
}

ul li {
    list-style-type: none;
    padding-right: 32px;

}

li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 32px;
}

.first-part {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.second-element {
    width: 100%;
}

h1 {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    justify-content: center;
    color: #1f2937;
}

h6 {
    font-family: 'Courier New', Courier, monospace;
}

.card {
    width: 120px;
    height: auto;
    border-radius: 30px;
    border: solid 4px #3882f6;
}

.container {
    display: flex;
    justify-content: space-around;
}

.info {
    width: 160px;
    flex-wrap: wrap;
    text-align: left;
    letter-spacing: 1.5px;
}

.third-element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    height: 400px;
}

.quote {
    font-style: italic;
    width: 300px;
    font-size: 22px;
}

.quote-person {
    display: flex;
    padding-top: 100px;
    font-size: 26px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fourth-element {
    display: flex;
    margin: 160px 50px 160px 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    height: 160px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    color: white;

}

.fourth-button {
    padding: 8px 25px 8px 25px;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 9px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;

}