#first-image {
    height: 450px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    align-items: center;
    padding-right: 100px;
    max-width: 100%;
}

.first-second-text {
    padding-left: 200px;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
}

.small-text {
    height: auto;
    width: 520px;
    font-size: 18px;
}


#logo {
    width: auto;
    height: 120px;
    margin: 16px;
    padding: 24px;
    display: flex;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-element {
    background-color: #1f2937;
    color: white;
}

ul li {
    list-style-type: none;
    padding-right: 32px;

}

li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 32px;
}

.first-part {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}